<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760091657934-6it0bvr0e4167rf6574em5omeepmsm22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760091657934-6it0bvr0e4167rf6574em5omeepmsm22</string>
	<key>API_KEY</key>
	<string>AIzaSyALkTuGC5V38_UPL0Gycd3OD6y73g-hV1E</string>
	<key>GCM_SENDER_ID</key>
	<string>760091657934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-flash-chat-app-d1830</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-flash-chat-app-d1830.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760091657934:ios:10ae155186ac0f682d329f</string>
</dict>
</plist>